.order-info-div {
    margin-left: 30%;
    width: 40%;
    border: 2px solid dimgrey;
    margin-bottom: 5%;
}

.order-form-div {
    margin-left: 30%;
    width: 40%;
    border: 2px solid dimgrey;
}

#order-form {

}

#form-submit {

}