<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
    <link href="../static/css/order-form.css" rel="stylesheet" type="text/css">
    <script src="../static/js/order-form.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div class="order-info-div">
        <h1><b>Order Information</b></h1>
    </div>
    <div class="order-form-div">
        <form id="order-form">
            <label for="height">Height:</label>
            <input type="text" id="height" name="height"><br>
            <label for="width">Width:</label>
            <input type="text" id="width" name="width"><br>
            <label for="length">Length:</label>
            <input type="text" id="length" name="length"><br>
            <label for="pallet-type">Pallet Type:</label>
            <input type="text" id="pallet-type" name="pallet-type"><br>
            <label for="sealed">Sealed:</label>
            <div id="sealed">
                <label>
                    <input type="radio" name="choice-radio">
                    Yes
                </label>
                <label>
                    <input type="radio" name="choice-radio">
                    No
                </label>
            </div>
            <label for="fragile">Fragile:</label>
            <div id="fragile">
                <label>
                    <input type="radio" name="choice-radio">
                    Yes
                </label>
                <label>
                    <input type="radio" name="choice-radio">
                    No
                </label>
            </div>
            <label for="weight">Weight:</label>
            <input type="text" id="weight" name="weight"><br>
        </form>
        <button type="submit" form="order-form" value="Submit" id="form-submit">Submit</button>
    </div>
</body>
</html>