<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrderForm</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>

<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Order information</h5>
  <div class="grid gap-6 mb-6 md:grid-cols-3">
    <div>
      <label for="CustomerId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer ID:</label>
      <p id="CustomerId" class="font-normal text-gray-700 dark:text-gray-400">1345634</p>
    </div>
    <div>
      <label for="OrderId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order ID:</label>
      <p id="OrderId" class="font-normal text-gray-700 dark:text-gray-400">3232323</p>
    </div>
    <div>
      <label for="PalletNr" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of pallets:</label>
      <p id="PalletNr" class="font-normal text-gray-700 dark:text-gray-400">5</p>
    </div>
    <div>
      <label for="Date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date:</label>
      <p id="Date" class="font-normal text-gray-700 dark:text-gray-400">08/03/2023</p>
    </div>
  </div>

</a>


<form>
  <label for="Shipping" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select shipping company</label>
  <select id="Shipping" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option>Tielbeke</option>
  </select>
  <div>
    <label for="Pallet" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select the pallet type</label>
    <select id="Pallet" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option>Wooden</option>
      <option>Other</option>
    </select>
  </div>

  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label for="Height" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Height(cm)</label>
      <input type="number" id="Height" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="120cm" required>
    </div>
    <div>
      <label for="Width" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Width(cm)</label>
      <input type="number" id="Width" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="140cm" required>
    </div>
    <div>
      <label for="Length" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Length(cm)</label>
      <input type="number" id="Length" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="50cm" required>
    </div>
    <div>
      <label for="Weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Wheight(kg)</label>
      <input type="number" id="Weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="120kg" required>
    </div>
    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input id="Sealed" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800">
      </div>
      <label for="Sealed" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sealed</label>
    </div>
    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <input id="Fragile" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800">
      </div>
      <label for="Fragile" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fragile</label>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>
</body>
</html>